* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: #deecfc;
  color: #777;
}

/*
  //////////////// General variables ////////////////////////
   */
:root {
  --box-shadow-10:
    4px 4px 6px #b4bfcc,
    -4px -4px 6px #fff,
    inset 4px 4px 6px #b4bfcc,
    inset -4px -4px 6px #fff;
  --box-shadow-5:
    2px 2px 4px #b2bfcc,
    -2px -2px 4px #fff,
    inset 2px 2px 4px #b2bfcc,
    inset -2px -2px 4px #fff;
  --box-shadow-darkish: 5px 5px 8px #b4bfcc, -5px -5px 8px #fff;
  --border-10: 6px solid #deecfc;
  --border-8: 3px solid #deecfc;
  --border-5: 2px solid #deecfc;
  --letter-spacing: 0.1rem;
  --background-darkish: #deecfc;
  --background-5: linear-gradient(145deg, #c8d4e3, #eefdff);
  --transition-10: all 0.2s linear;
}

/*
  //////////////// General Classes /////////////////
   */
.border-box-shadow {
  border: var(--border-8);
  box-shadow: var(--box-shadow-5);
  border-radius: 1rem;
  padding-bottom: 0;
  letter-spacing: var(--letter-spacing);
  background-color: transparent;
}

.darkish-box-shadow {
  background: var(--background-5);
  box-shadow: var(--box-shadow-darkish);
  letter-spacing: 0.1rem;
}

.row {
  position: relative;
}

.hero-info-img {
  position: absolute;
  top: 25%;
}

.round-style {
  transform: translateX(30px);
  z-index: 100;
}

.scrollToTop {
  /* display: none; */
  position: fixed;
  width: 80px;
  bottom: 10%;
  right: 7%;
  z-index: 99;
  border: none;
  background-color: transparent;
}

/*
    ///////////// Navbar //////////////////////
   */
.navbar-brand {
  font-family: Handlee, sans-serif;
}

.nav-hero {
  min-height: 82vh;
}

.logo-title {
  border-radius: 100rem;
  letter-spacing: 0.2rem;
  transition: var(--transition-10);
  border: var(--border-5);
  box-shadow: var(--box-shadow-10);
}

.nav-toggler-button {
  border: none;
  border-radius: 100rem;
  background-color: var(--background-darkish);
}

.nav-toggler-div {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: var(--border-10);
  box-shadow: var(--box-shadow-10);
}

.nav-dots-icon {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-opacity-hover {
  transition: var(--transition-10);
}

.nav-opacity-out {
  transition: var(--transition-10);
  opacity: 1;
}

.nav-link {
  font-weight: bold;
  font-family: Handlee, sans-serif;
  letter-spacing: 0.1rem;
  transition: var(--transition-10);
  background: #deecfc;
  border: var(--border-10);
  box-shadow: var(--box-shadow-5);
}

.nav-link:hover {
  transform: translateY(-6px);
  background: linear-gradient(145deg, #c8d4e3, #eefdff);
  box-shadow: 5px 5px 12px #b4bfcc, -5px -5px 12px #fff;
}

.nav-link:active {
  transform: translateY(-3px);
  background: linear-gradient(145deg, #c8d4e3, #eefdff);
  box-shadow: inset 5px 5px 12px #b4bfcc, inset -5px -5px 12px #fff;
}

/*
///////////// Profile Image ///////////////////
 */
.prof-img {
  background: var(--background-5);
  border: var(--border-10);
  box-shadow: var(--box-shadow-10);
  width: 25rem;
}

/*
  ///////////// Hero Text ///////////////////
   */
.hero-title {
  letter-spacing: 0.2rem;
  font-family: Handlee, sans-serif;
}

/*
  /////////////// Hire me button //////////////
   */
.hire-me {
  font-weight: bold;
  letter-spacing: var(--letter-spacing);
  transition: var(--transition-10);
  background: var(--background-5);
  border: var(--border-5);
  box-shadow: var(--box-shadow-5);
}

.hire-me:hover {
  transform: translateY(-5px);
}

.hire-me:active {
  transform: translateY(-2px);
}

.title-hi {
  letter-spacing: 0.2rem;
}

.btn-text {
  font-weight: bold;
  letter-spacing: 0.1rem;
}

/*
  ///////////////////// Navigation Round Containers ////////////////
   */
.navigation-container {
  position: relative;
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 100rem;
  font-family: "Avenir Next", sans-serif;
  font-size: 1.2rem;
  transition: var(--transition-10);
  letter-spacing: var(--letter-spacing);
  background: var(--background-darkish);
  box-shadow: var(--box-shadow-darkish);
}

.navigation-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
 ///////////// About Page /////////////////
 */
.operation__tabs--container {
  display: flex;
  justify-content: center;
}

.operation__content {
  display: none;
}

.operations__content--active {
  display: block;
}

.operation__header {
  font-size: 30px;
}

.operation__text {
  font-size: 25px;
}

.operation__tab {
  transform: translateY(-50%);
  transition: var(--transition-10);
  cursor: pointer;
}

.operation__tab--active {
  transform: translateY(-66%);
  border: none;
}

.about-icons {
  font-size: 4rem;
}

.form-control {
  transition: var(--transition-10);
}

.form-control:hover {
  transform: translateY(-5px);
}

.form-control:active {
  transform: translateY(-2px);
}

.send-message-btn {
  background: var(--background-5);
  box-shadow: var(--box-shadow-darkish);
  letter-spacing: var(--letter-spacing);
  transition: var(--transition-10);
}

.send-message-btn:hover {
  transform: translateY(-5px);
}

.send-message-btn:active {
  transform: translateY(-2px);
}

.contact-icons {
  background: var(--background-5);
}

/*
////////////// Projects ////////////////
 */

.project-links {
  font-size: 1.5rem;
}

.links-container {
  width: 4rem;
  height: 4rem;
}

/*
/////////////// Footer /////////////////////////
 */

footer {
  background-color: #b4bfcc;
  box-shadow: -3px -3px 16px #b4bfcc;
  min-height: 18vh;
}

.footer-icons {
  font-size: 1.5rem;
}

.footer-text {
  letter-spacing: var(--letter-spacing);
}
